body {
  background: #252954;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.root {
  border: 2px solid black;
  display: grid;
  grid-template-rows: 60px auto 100px;
  padding: 1rem;
  min-width: 800px;
  min-height: 640px;
}
.header {
  background: radial-gradient(circle, #141834 0%, #13162f 100%);
  color: #e7e8ea;
  font-size: 1rem;
  font-weight: 500;
}
.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: 800px;
  overflow: scroll;
  padding: 1rem 0;
  color: #9b9ca7;
}
.body__card {
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  border-radius: 10px;
  padding: 1rem;
}
.body__todays-highlights {
  margin: 0 1rem 0 0;
}
.footer {
  background: #4255d4;
  color: white;
}
.logo {
  aspect-ratio: 1 / 1;
  width: 150px;
}